
**/*.pyc
.coverage
htmlcov
**/.DS_Store
**/*.log

**/*.jpg
**/*.png
**/*.webp
**/*.svg
**/*.mp4
**/*.jpeg
**/*.pth

/model/input_images
/model/output_images

**/__pycache__

**/*.ipynb

model/realesrgan-ncnn-vulkan-20220424-windows
